<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../output.css">
</head>

<body>
    <footer class="bg-[#1E212C] w-full h-[510px]">

        <section class="container">

            <section class="flex justify-between pt-20">
                <div class="flex flex-col gap-6">
                    <div> <img src="../img/img-footer/logo (1).png" alt=""></div>
                    <p class="w-[281px] text-[12px] hover:text-[#ffffff]">Createx SEO Agency is a full-service digital marketing agency.
                        We help businesses make more money through a wealth of performance data and market research.
                        We create science-based SEO strategies to empower our clients.</p>
                    <div class="flex gap-4">
                        <img src="../img/img-footer/Facebook.png" alt="">
                        <img src="../img/img-footer/Linked-In.png" alt="">
                        <img src="../img/img-footer/Twitter.png" alt="">
                        <img src="../img/img-footer/Instagram.png" alt="">
                    </div>
                </div>
                <div class="flex flex-col gap-2">
                    <p class="text-[16px] text-[#FFFFFF] font-[700]">COMPANY</p>
                    <div class="flex flex-col gap-2 text-[#706e6e] font-[400]">
                        <p class="hover:text-[#ffffff]">About Us</p>
                        <p class="hover:text-[#ffffff]">Case Studies</p>
                        <p class="hover:text-[#ffffff]">Blog</p>
                        <p class="hover:text-[#ffffff]">Careers</p>
                        <p class="hover:text-[#ffffff]">Contacts</p>
                    </div>
                </div>
                <div class="flex flex-col gap-2">
                    <p class="text-[16px] text-[#FFFFFF] font-[700]">SERVICES</p>
                    <div class="flex flex-col gap-2 text-[#706e6e] font-[400]">
                        <p class="hover:text-[#ffffff]">Social Media</p>
                        <p class="hover:text-[#ffffff]">SEO</p>
                        <p class="hover:text-[#ffffff]">Research</p>
                        <p class="hover:text-[#ffffff]">Content & PR</p>
                        <p class="hover:text-[#ffffff]">Payed Traffic</p>
                    </div>
                </div>
                <div class="flex flex-col gap-2">
                    <p class="text-[16px] text-[#FFFFFF] font-[700]">CONTACT US</p>
                    <div class="flex flex-col gap-2 text-[#706e6e] font-[400]">
                        <div class="flex items-center gap-3"> <img src="../img/img-footer/iPhone.png" alt="">
                            <p class="hover:text-[#ffffff]">(405) 555-0128</p>
                        </div>
                        <div class="flex items-center gap-3"> <img src="../img/img-footer/Mail.png" alt="">
                            <p class="hover:text-[#ffffff]">hello@createx.com</p>
                        </div>

                    </div>
                </div>
                <div class="flex flex-col gap-2">
                    <p class="text-[16px] text-[#FFFFFF] font-[700]">SIGN UP TO OUR NEWSLETTER</p>
                    <div class="flex flex-col gap-2 text-[#706e6e] font-[400] mt-3">
                        <div class="flex items-center justify-between w-[286px] h-[36px] bg-[#FFFFFF1F] border-[1px] border-[#FFFFFF33] px-3">
                            <input class="bg-transparent border-none w-full h-auto outline-none" type="text"><img src="../img/Zafar-Project/Right.png"
                                alt="">
                        </div>
                        <div class="flex items-center gap-3">
                            <p class="hover:text-[#ffffff] text-[10px] w-[276px]">*Subscribe to our newsletter to receive communications and early updates from Createx SEO Agency.</p>
                        </div>

                    </div>
                </div>
            </section>

        </section>
<div class="h-[2px] w-full bg-gradient-to-r from-transparent via-gray-400 to-transparent opacity-50 mt-10"></div>
<section class="container">
    
 <section class="flex justify-between">
        <div class="flex gap-6 pt-10">
            <img src="../img/img-footer/award.png" alt="">
            <img src="../img/img-footer/award (1).png" alt="">
            <img src="../img/img-footer/award (2).png" alt="">
            <img src="../img/img-footer/award (3).png" alt="">
        </div>
        <div class="flex gap-3 items-end">
            <p class="text-[#FFFFFF] text-[14px]">GO TO TOP</p>
            <img src="../img/img-footer/up-btn.png" alt="">
        </div>
 </section>
</section>
<section class="flex mt-15">
    <section class="bg-[#454545d1] w-full h-[50px] flex items-center ">
        <section class="container ">
        
            <div class="text-[#FFFFFF] text-[12px] flex gap-1 ">
                <p>© All rights reserved.Made with  </p>
                <img src="../img/img-footer/Heart.png" alt="">
                <p>by Createx Studio </p>
            </div>
    
    
        </section>
    </section>
</section>

    </footer>
</body>

</html>