<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../output.css">
</head>
<body>

         <header class="container">
    
            <section class="flex items-center justify-between h-[86px] ">
                <div class="flex gap-7 text-[#b8b8b8] text-[16px] font-[700] ">
                <div class="w-[150px]">
                    <img src="../img/img-header/logo.png" alt=""></div>
                    <a class="hover:text-[#FFFFFF]" href="#">Services</a>
        
                    <a class="hover:text-[#FFFFFF]" href="#">Services-1</a>
        
                    <a class="hover:text-[#FFFFFF]" href="#">Case Studies</a>
                    
                    <a class="hover:text-[#FFFFFF]" href="#">Case Studies-1</a>
        
                    <a class="hover:text-[#FFFFFF]" href="#">About Us</a>
        
                    <a class="hover:text-[#FFFFFF]" href="#">Blog</a>
        
                    <a class="hover:text-[#FFFFFF]" href="#">Contacts</a>
            </div>
            <button class="w-[200px] h-[52px] bg-[#7772F1] text-[#FFFFFF] text-[16px] font-[700] rounded-[4px] hover:bg-[#FFFFFF] hover:shadow-cyan-300 hover:text-[#7772F1] hover:border-[1px] border-b-blue-800" >Talk to a human</button>
            </section>
    
        </header>
    </section>
</body>
</html>