<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../output.css">
</head>
<body>
    <section class="container">
         <section class="flex justify-between mt-20">
                    <div class="flex flex-col gap-10">
                        <h1 class="text-[46px] font-[700] text-[#1E212C]">Latest news</h1>
                        <p class="w-[285px] text-[20px]">Check more posts in our blog for featured news and advertising
                            insights</p>
                        <button class="w-[180px] h-[52px] text-[16px] bg-[#7772F1] text-[#FFFFFF] rounded-[4px]">Go to
                            blog</button>
                    </div>
                    <div>
                        <img src="../img/img-safarov/pic.png" alt="">
                        <div class="mt-3">
                            <section class="flex gap-5 text-[14px]">
                                <p>SEO |</p>
                                <div class="flex gap-2 items-center">
                                    <img src="../img/img-safarov/Clock.png" alt="">
                                    <p>July 5, 2020 |</p>
                                </div>
                                <div class="flex gap-2 items-center">
                                    <img src="../img/img-safarov/Profile.png" alt="">
                                    <p>By Diane Mccoy</p>
                                </div>
                            </section>
                            <p class="text-[#1E212C] text-[20px] font-[700] w-[390px] mt-2">How to Maximize Your ROI
                                Through Scientific SEM?</p>
                            <p class="text-[16px] w-[390px] mt-2">Vulputate vitae pellentesque scelerisque luctus
                                consequat mattis pellentesque dui odio...</p>
                            <div class="flex gap-3  mt-3.5 ">
                                <p class="font-[700] text-[#1E212C] text-[16px] ">Read more</p>
                                <img src="../img/img-safarov/Right.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div>
                        <img src="../img/img-safarov/pic2.png" alt="">
                        <div class="mt-3">
                            <section class="flex gap-5 text-[14px]">
                                <p>Marketing |</p>
                                <div class="flex gap-2 items-center">
                                    <img src="../img/img-safarov/Clock.png" alt="">
                                    <p>July 5, 2020 |</p>
                                </div>
                                <div class="flex gap-2 items-center">
                                    <img src="../img/img-safarov/Profile.png" alt="">
                                    <p>By Diane Mccoy</p>
                                </div>
                            </section>
                            <p class="text-[#1E212C] text-[20px] font-[700] w-[390px] mt-2">How to Maximize Your ROI
                                Through Scientific SEM?</p>
                            <p class="text-[16px] w-[390px] mt-2">Vulputate vitae pellentesque scelerisque luctus
                                consequat mattis pellentesque dui odio...</p>
                            <div class="flex gap-3  mt-3.5 ">
                                <p class="font-[700] text-[#1E212C] text-[16px] ">Read more</p>
                                <img src="../img/img-safarov/Right.png" alt="">
                            </div>
                        </div>
                    </div>
                </section>
    </section>
    
</body>
</html>