<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../output.css">
</head>
<body>
   <section class="container">

        <section class="flex justify-between items-center pt-20">
                    <div class="group relative w-[120px] h-[64px] flex items-center justify-center cursor-pointer">
                        <img src="../img/img-safarov/client-logo s (5).png"
                            class="block group-hover:hidden transition-all duration-300" />
                        <img src="../img/img-safarov/img-hover/client-logohover5.png" alt="logo hover"
                            class="hidden group-hover:block transition-all duration-300" />
                    </div>
                    <div class="group relative w-[120px] h-[64px] flex items-center justify-center cursor-pointer">
                        <img src="../img/img-safarov/client-logo s (6).png" alt="logo"
                            class="block group-hover:hidden transition-all duration-300" /><img
                            src="../img/img-safarov/img-hover/client-logohover2.png"
                            class="hidden group-hover:block transition-all duration-300" />
                    </div>
                    <div class="group relative w-[120px] h-[64px] flex items-center justify-center cursor-pointer">
                        <img src="../img/img-safarov/client-logo s (1).png" alt="logo"
                            class="block group-hover:hidden transition-all duration-300" /><img
                            src="../img/img-safarov/img-hover/client-logohover.png"
                            class="hidden group-hover:block transition-all duration-300" />
                    </div>
                    <div class="group relative w-[120px] h-[64px] flex items-center justify-center cursor-pointer">
                        <img src="../img/img-safarov/client-logo s (2).png" alt="logo"
                            class="block group-hover:hidden transition-all duration-300" /><img
                            src="../img/img-safarov/img-hover/client-logohover6.png"
                            class="hidden group-hover:block transition-all duration-300" />
                    </div>
                    <div class="group relative w-[120px] h-[64px] flex items-center justify-center cursor-pointer">
                        <img src="../img/img-safarov/client-logo s (3).png" alt="logo"
                            class="block group-hover:hidden transition-all duration-300" /><img
                            src="../img/img-safarov/img-hover/client-logohover4.png"
                            class="hidden group-hover:block transition-all duration-300" />
                    </div>
                    <div class="group relative w-[120px] h-[64px] flex items-center justify-center cursor-pointer">
                        <img src="../img/img-safarov/client-logo s (4).png" alt="logo"
                            class="block group-hover:hidden transition-all duration-300" /><img
                            src="../img/img-safarov/img-hover/client-logohover3.png"
                            class="hidden group-hover:block transition-all duration-300" />
                    </div>
                </section>
   </section>
   
</body>
</html>