<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../output.css">
</head>
<body>

    <main>

        <section class="bg-[#1E212C] w-full h-[560px]">

            <section class=" container ">
           <section class=" justify-between items-center flex pt-15">
                    <div><img src="../img/img-main-about/illustration.png" alt=""></div>
    
                    <div>
                        <h1 class="text-[46px] text-[#FFFFFF]">Get a Free SEO Analysis!</h1>
                   <section class="flex gap-7 mt-6">
                            <div>
                                <p class="text-[#FFFFFF] text-[16px]">Name</p>
                                <input type="text" placeholder="Your name" class="w-[285px] h-[52px] border-[#FFFFFF33] border-[1px] bg-[#FFFFFF1F] px-4 outline-none mt-1.5 rounded-[4px]">
                            </div>
                            <div>
                                <p class="text-[#FFFFFF] text-[16px]">Email</p>
                                <input type="email" placeholder="Your working email" class="w-[285px] h-[52px] border-[#FFFFFF33] border-[1px] bg-[#FFFFFF1F] px-4 outline-none mt-1.5 rounded-[4px]">
                            </div>
                   </section>
                        <div class="mt-6">
                                <p class="text-[#FFFFFF] text-[16px]">Your website URL</p>
                                <input type="url" placeholder="http://yoursite.com" class="w-[600px] h-[52px] border-[#FFFFFF33] border-[1px] bg-[#FFFFFF1F] px-4 outline-none mt-1.5 rounded-[4px]">
                            </div>
    
                            <div class="w-[600px] flex justify-between mt-8">
                                <label class=" flex w-[387px] h-[25px] gap-3" >
                                    <input type="checkbox">
                                    <p class="text-[#FFFFFF]">I agree to receive communications from Createx SEO Agency</p>
                                </label>
                                <button class="w-[219px] font-[700] h-[52px] text-[#FFFFFF] bg-[#7772F1] rounded-[4px] cursor-pointer">Get a free analysis</button>
                            </div>
                    </div>
           </section>
            </section>
        </section>

    </main>
    
</body>
</html>