<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../output.css">
</head>
<body>
        <main>
        <section class="container">
              <div class="text-center mt-15">
                <h1 class="text-[46px] fomt-[900] text-[#1E212C]">Our services</h1>
              </div>
               <section class="flex justify-between  mt-10">
                <div
                    class="w-[205px] h-[46px] bg-transparent border-[1px] border-[#7772F1] text-[#7772F1] flex justify-center items-center font-[700] text-[16px]">
                    <p>Social Media</p>

                </div>
                <div
                    class="w-[205px] h-[46px] bg-transparent  text-[#9A9CA5] flex justify-center items-center font-[700] text-[16px]">
                    <p>SEO</p>

                </div>
                <div
                    class="w-[205px] h-[46px] bg-transparent  text-[#9A9CA5] flex justify-center items-center font-[700] text-[16px]">
                    <p>Research</p>

                </div>
                <div
                    class="w-[205px] h-[46px] bg-transparent  text-[#9A9CA5] flex justify-center items-center font-[700] text-[16px]">
                    <p>Content & PR</p>

                </div>
                <div
                    class="w-[205px] h-[46px] bg-transparent  text-[#9A9CA5] flex justify-center items-center font-[700] text-[16px]">
                    <p>Payed Traffic</p>

                </div>
            </section>

            <section class="mt-20 flex items-center justify-between">
                <div class="w-[390px] flex flex-col gap-5 h-[450px]">
                    <h1 class="text-[28px] text-[#1E212C] text-[700]">Complete Worflow For Any SEO Professional</h1>
                    <div class="text-[16px] text-[#424551] flex flex-col gap-4">
                     <div class="flex gap-2 items-center"> <img src="../img/outSERVISE/Mark.png" alt="">  <p>Aenean enim tellus morbi nisl vulputate dictumst.</p></div>
                     <div class="flex gap-2 items-center"> <img src="../img/outSERVISE/Mark.png" alt="">  <p>Aenean enim tellus morbi nisl vulputate dictumst.</p></div>
                     <div class="flex gap-2 items-center"> <img src="../img/outSERVISE/Mark.png" alt="">  <p>Aenean enim tellus morbi nisl vulputate dictumst.</p></div>
                     <div class="flex gap-2 items-center"> <img src="../img/outSERVISE/Mark.png" alt="">  <p>Aenean enim tellus morbi nisl vulputate dictumst.</p></div>
                     <div class="flex gap-2 items-center"> <img src="../img/outSERVISE/Mark.png" alt="">  <p>Aenean enim tellus morbi nisl vulputate dictumst.</p></div>
                     <div class="flex gap-2 items-center"> <img src="../img/outSERVISE/Mark.png" alt="">  <p>Aenean enim tellus morbi nisl vulputate dictumst.</p></div>
                     <div class="flex gap-5">
                        <button class="w-[139px] bg-transparent border-[1px] border-[#7772F1] text-[#7772F1] text-[14px] font-[700] rounded-[4px] h-[44px]">Learn more</button>
                        <button class="w-[139px] bg-[#7772F1]  text-[#ffffff] text-[14px] font-[700] rounded-[4px] h-[44px]"">Try SEO toolkit</button>
                     </div>
                    </div>
                </div>
                <div class="relative">
                    <img  src="../img/outSERVISE/dashboard.png" alt="">
                    <img class="absolute top-3 left-120" src="../img/outSERVISE/followers.png" alt="">
                    <img class="absolute top-60 left-3" src="../img/outSERVISE/likes.png" alt="">
                    <img class="absolute top-97 left-135" src="../img/outSERVISE/youtube.png" alt="">
                    <img class="absolute top-110 left-70" src="../img/outSERVISE/like.png" alt="">
                </div>
            </section>

        </section>
    </main>
    
</body>
</html>