<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../output.css">
</head>
<body>
    <section class="w-full bg-[#F4F5F6] ">
    <div class="max-w-7xl mx-auto px-4 py-20" >
        <div class="text-start mb-16 flex items-center justify-between">
            <h2 class="text-[46px] font-black text-[#1E212C] hover:text-[gray] ">Read our clients' case studies</h2>
            <div class="flex items-center gap-3" >
                <button class="shrink-0 w-[48px] h-[48px] rounded-full flex items-center justify-center cursor-pointer transition-all duration-300 border border-transparent text-[#424551] hover:bg-[#7772F1] hover:text-white active:scale-90">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
                    </svg>
                </button>
                <button class="shrink-0 w-[48px] h-[48px] rounded-full flex items-center justify-center cursor-pointer transition-all duration-300 border border-transparent text-[#424551] hover:bg-[#7772F1] hover:text-white active:scale-90">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
                    </svg>
                </button>
            </div>
        </div>
        <div class="flex items-center justify-between" >
            <div class="group relative w-[32%] bg-white h-[390px] overflow-hidden cursor-pointer border border-gray-100 shadow-sm">
                <div class="absolute inset-0 bg-cover bg-center opacity-0 transition-opacity duration-500 group-hover:opacity-100"
                    style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/imageReadOurClients/image.png');">
                </div>
                <div class="relative z-10 p-8 h-full flex flex-col justify-start">
                    <div class="mb-4">
                        <img class="w-[98px] h-[76px] object-contain" src="../img/imageReadOurClients/image(5).png" alt="">
                    </div>
                    <div>
                        <p class="text-[#1E212C] font-bold transition-colors duration-500 group-hover:text-white text-[14px] ">
                            Charity organisation
                        </p>
                        <div>
                            <img class="mt-[20px]" src="../img/divider.png" alt="">
                        </div>
                        <p class="text-[#787A80] transition-colors duration-500 group-hover:text-white text-[16px] mt-[30px] " >
                            Createx SEO Agency.Created by Suhrob. increase their MQL to SQL conversion rate by 300%.
                        </p>
                        <div class="flex items-center gap-10 mt-5" >
                            <div class="flex items-center gap-3" >
                                <div>
                                    <img src="../img/imageReadOurClients/circle.png" alt="">
                                </div>
                                <div>
                                    <p class="text-[#1E212C] text-[20px] font-bold transition-colors duration-500 group-hover:text-white" >90%</p>
                                    <p class="text-[12px] text-[#1E212C] transition-colors duration-500 group-hover:text-white" >Engagement</p>
                                </div>
                            </div>
                            <div class="flex items-center gap-3" >
                                <div>
                                    <img src="../img/imageReadOurClients/circle(1).png" alt="">
                                </div>
                                <div>
                                    <p class="text-[#1E212C] text-[20px] font-bold transition-colors duration-500 group-hover:text-white" >100%</p>
                                    <p class="text-[12px] text-[#1E212C] transition-colors duration-500 group-hover:text-white" >Deliverability</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="group relative w-[32%] bg-white h-[390px] overflow-hidden cursor-pointer border border-gray-100 shadow-sm">
                <div class="absolute inset-0 bg-cover bg-center opacity-0 transition-opacity duration-500 group-hover:opacity-100"
                    style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/imageReadOurClients/image.png');">
                </div>
                <div class="relative z-10 p-8 h-full flex flex-col justify-start">
                    <div class="mb-4">
                        <img class="w-[98px] h-[76px] object-contain" src="../img/imageReadOurClients/image(5).png" alt="">
                    </div>
                    <div>
                        <p class="text-[#1E212C] font-bold transition-colors duration-500 group-hover:text-white text-[14px] ">
                            Charity organisation
                        </p>
                        <div>
                            <img class="mt-[20px]" src="../img/divider.png" alt="">
                        </div>
                        <p class="text-[#787A80] transition-colors duration-500 group-hover:text-white text-[16px] mt-[30px] " >
                            Createx SEO Agency.Created by Suhrob. increase their MQL to SQL conversion rate by 300%.
                        </p>
                        <div class="flex items-center gap-10 mt-5" >
                            <div class="flex items-center gap-3" >
                                <div>
                                    <img src="../img/imageReadOurClients/circle.png" alt="">
                                </div>
                                <div>
                                    <p class="text-[#1E212C] text-[20px] font-bold transition-colors duration-500 group-hover:text-white" >90%</p>
                                    <p class="text-[12px] text-[#1E212C] transition-colors duration-500 group-hover:text-white" >Engagement</p>
                                </div>
                            </div>
                            <div class="flex items-center gap-3" >
                                <div>
                                    <img src="../img/imageReadOurClients/circle(1).png" alt="">
                                </div>
                                <div>
                                    <p class="text-[#1E212C] text-[20px] font-bold transition-colors duration-500 group-hover:text-white" >100%</p>
                                    <p class="text-[12px] text-[#1E212C] transition-colors duration-500 group-hover:text-white" >Deliverability</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="group relative w-[32%] bg-white h-[390px] overflow-hidden cursor-pointer border border-gray-100 shadow-sm">
                <div class="absolute inset-0 bg-cover bg-center opacity-0 transition-opacity duration-500 group-hover:opacity-100"
                    style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/imageReadOurClients/image.png');">
                </div>
                <div class="relative z-10 p-8 h-full flex flex-col justify-start">
                    <div class="mb-4">
                        <img class="w-[98px] h-[76px] object-contain" src="../img/imageReadOurClients/image(5).png" alt="">
                    </div>
                    <div>
                        <p class="text-[#1E212C] font-bold transition-colors duration-500 group-hover:text-white text-[14px] ">
                            Charity organisation
                        </p>
                        <div>
                            <img class="mt-[20px]" src="../img/divider.png" alt="">
                        </div>
                        <p class="text-[#787A80] transition-colors duration-500 group-hover:text-white text-[16px] mt-[30px] " >
                            Createx SEO Agency.Created by Suhrob. increase their MQL to SQL conversion rate by 300%.
                        </p>
                        <div class="flex items-center gap-10 mt-5" >
                            <div class="flex items-center gap-3" >
                                <div>
                                    <img src="../img/imageReadOurClients/circle.png" alt="">
                                </div>
                                <div>
                                    <p class="text-[#1E212C] text-[20px] font-bold transition-colors duration-500 group-hover:text-white" >90%</p>
                                    <p class="text-[12px] text-[#1E212C] transition-colors duration-500 group-hover:text-white" >Engagement</p>
                                </div>
                            </div>
                            <div class="flex items-center gap-3" >
                                <div>
                                    <img src="../img/imageReadOurClients/circle(1).png" alt="">
                                </div>
                                <div>
                                    <p class="text-[#1E212C] text-[20px] font-bold transition-colors duration-500 group-hover:text-white" >100%</p>
                                    <p class="text-[12px] text-[#1E212C] transition-colors duration-500 group-hover:text-white" >Deliverability</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex items-center justify-center gap-15 mt-20" >
            <div>
                <p class="text-[28px] font-bold text-[#1E212C] hover:text-[gray] " >Explore more case studies</p>
            </div>
            <div>
                <button class="btn px-8 py-4 bg-[#FF4242] text-white text-[16px] font-bold rounded-[5px] transition-all duration-300 ease-in-out hover:bg-[#d63838] hover:shadow-[0_10px_20px_rgba(119,114,241,0.3)] hover:-translate-y-1 active:scale-95 active:translate-y-0">
                    View all case studies
                </button>
            </div>
        </div>
    </div>
</section>
</body>
</html>