<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../output.css">
</head>
<body>
    <section class="max-w-7xl mx-auto px-4 py-20 bg-white   ">
    <div class="text-center mb-16">
        <h2 class="text-[46px] font-black text-[#1E212C]">
            What our clients say
        </h2>
    </div>
    <div class="flex items-center justify-between gap-4 md:gap-10">
        <button class="shrink-0 w-[48px] h-[48px] rounded-full flex items-center justify-center cursor-pointer transition-all duration-300 text-[#424551] hover:bg-[#7772F1] hover:text-white">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18" />
            </svg>
        </button>
        <div class="flex-1 max-w-4xl bg-white p-8 md:p-14 border border-gray-100 rounded-lg flex gap-6 shadow-[0_5px_10px_rgba(0,0,0,0.15)] border-none ">
            <div class="shrink-0 pt-2">
                <img src="../img/ImageWhatOurClients/braces.png" class="w-7">
            </div>
            <div class="flex flex-col">
                <p class="text-[20px] text-[#424551] mb-8">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Justo, amet lectus quam viverra mus lobortis fermentum amet, eu. Pulvinar eu sed purus facilities. Vitae id turpis tempus ornare turpis quis non. Congue tortor in euismod vulputate etiam eros. Pulvinar neque pharetra arcu diam maecenas diam integer in.
                </p>
                <div class="flex items-center gap-5 mt-auto">
                    <img src="../img/ImageWhatOurClients/image(4).png"
                        class="w-[72px] h-[72px] rounded-full object-cover">
                    <div class="flex flex-col">
                        <span class="text-[16px] font-bold text-[#1E212C]">Courtney Alexander</span>
                        <span class="text-[14px] text-[#787A80]">Position, Company name</span>
                    </div>
                </div>
            </div>
        </div>
        <button class="shrink-0 w-[48px] h-[48px] rounded-full flex items-center justify-center cursor-pointer transition-all duration-300 text-[#424551] hover:bg-[#7772F1] hover:text-white">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
            </svg>
        </button>
    </div>
    </section>
</body>
</html>