@import "tailwindcss";



@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    color: #787A80;
}

.active {
    color: #FFFFFF;
}

.btn {
    padding: 14px 40px;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
    background: #7772F1;
}

img {
    max-width: 100%;
}

h1,
h2,
h3 {
    font-weight: 700;
}
.bgcol{
    background: radial-gradient(83.15% 154.4% at 10% 13.52%, #1E212C 0%, #232441 56.38%, #1E212C 100%);

}


.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 10px;
}